<main class="bg-neutral-900 h-full p-2 flex items-start justify-center">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full md:max-w-96">
    <app-card-common
      subTitle="Olá, eu sou o Fernando ✌️"
      title="Desenvolvedor FullStack"
      [subTitleDown]="false"
      bgColor="bg-slate-600"
    >
    </app-card-common>
    <app-card-link
      title="Sobre mim"
      imgSrc="sobre.jpeg"
      alternativeText="Foto de Fernando, jovem moreno com sorriso no rosto"
      Link="https://www.linkedin.com/in/fernando-de-barros-ramos/"
    >
    </app-card-link>
    <app-card-common
        subTitle="anos de experiência"
        title="+1"
        bgColor="bg-blue-5  00"
    >
  </app-card-common>
    <app-card-link
      title="Formação"
      imgSrc="senac.png"
      alternativeText="Logo Senac"
      Link="https://www.sp.senac.br/"
    >
    </app-card-link>
  </section>
</main>
